html {
    display: flex
    width: 1280px;
    height: 800px;
    font-family: Montserrat;
}
/* Light theme */
:root {
    --background-color: #090E1E;
    --text-color: #163164;
    --background-header: linear-gradient(180deg, #FB993F 0%, rgba(217, 217, 217, 0.00) 100%);
    --background-footer: linear-gradient(0deg, #FB993F 0%, rgba(217, 217, 217, 0.00) 100%);
    --background-main: #817F7D;
    --background-form: linear-gradient(180deg, rgba(217, 217, 217, 0.46) 0%, #FFD596 100%);
    --background-image-button: url("/static/img/sun.png");
    --background-color-button: transparent;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
/* Dark theme */
.white-theme {
    --background-color: #FFF;
    --text-color: #163164;
    --background-header: linear-gradient(180deg, #FFE896 0%, rgba(217, 217, 217, 0.00) 100%);
    --background-footer: linear-gradient(0deg, #FFE896 0%, rgba(217, 217, 217, 0.00) 100%);
    --background-main: #E7E7E7;
    --background-form: linear-gradient(180deg, rgba(255, 232, 150, 0.46) 0%, #FFD596 100%);
    --background-image-button: url("/static/img/moon.png");
    --background-color-button: transparent;
}
#theme-toggle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: var(--background-image-button);
    background-color: var(--background-color-button);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 10px 10px 10px;
    margin-left: 12px;
    cursor: pointer;
}
.main {
    width: 1000px;
    height: 100%;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--background-main);
}

.main-header{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 80px;
    flex-shrink: 0;
    background: var(--background-header);
}
.h1-header-div{
    text-align: center;
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 90%;
}
.theme-button-div{
    width: 30px;
    height: 30px;
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 10%;
    margin: 16px
}
.signout {
    width: 32px;
    height: 32px;
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 10%;
    margin: 16px;
    display: inline-block;
    background-image: url("/static/img/logout.svg");
    background-position: center;
    background-color: transparent;
    padding: 4px;
    border-radius: 8px;
}
.h1-header{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.central-div{
    width: 280px;
    height: auto;
    display: block;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--background-form);
    text-align: center;
    padding: 8px 24px 8px 24px;
}
.order-main {
    width: 1000px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    background: var(--background-main);
}
.order-div{
    width: 260px;
    height: 240px;



    margin: 12px 12px 12px 12px;
    border-radius: 16px;
    background: var(--background-form);
    padding: 8px 24px 8px 24px;
}
@media (max-width: 800px) {
  .order-div {
    flex-direction: column;
  }
}
.h2-div{
    margin: 12px;
    flex-shrink: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.label{
    width: 260px;
    margin-bottom: 16px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFF;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.footer-div{
    width: 1000px;
    height: 32px;
    flex-shrink: 0;
    position: sticky;
    text-align: left;
    background: var(--background-footer);
}
.footer-div-text {
    margin-top: 14px;
    position: absolute;
}
p {
    display: inline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2px 12px 2px 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}
li{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#hideMe {
    padding-bottom: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}