<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/static/stylesheets/styles.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Order page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <main class="order-main">
            <header class="main-header">
                <div class="theme-button-div">
                    <button id="theme-toggle"></button>
<!--                    <script src="/static/script/theme.js"></script>-->
                    <script type="" src=" {{url_for('static', filename='script/theme.js') }}"></script>
                </div>
                <div class="h1-header-div">
                    <h1 class="h1-header">
                        Hookah in your brain
                    </h1>
                </div>
                <div class="logout">
                    <a href="/logout"><button class="signout"></button></a>
                </div>
            </header>
            <div id="cnt" class="cnt">
                <script type="" src=" {{url_for('static', filename='script/get_old_orders.js') }}"></script>

            </div>
            <footer class="footer-div">
                <div>
                <p class="p-text">MAX Studio 2023</p>
            </div>
            </footer>
        </main>
    </body>
</html>