<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/static/stylesheets/styles.css">
        <title>Order page</title>
    </head>
    <body>
        <main class="order-main">

            <header class="main-header">
                <div class="theme-button-div">
                    <button id="theme-toggle"></button>
                    <script src="/static/script/script.js"></script>
                </div>
                <div class="h1-header-div">
                    <h1 class="h1-header">
                        Hookah in your brain
                    </h1>
                </div>
                <div class="logout">
                    <a href="/logout"><button class="signout"></button></a>
                </div>
            </header>

                {% for order in orders %}
                    <div class="order-div">

                        <h5>Order number: {{ order[2] }}</h5>
                                <li><b>Ім'я:</b>{{ order[1] }}</li>
                                <li>Міцність: {{ order[3] }}</li>
                                <li>Смак 1: {{ order[4] }}</li>
                                <li>Смак 2: {{ order[5] }}</li>
                                <li>Смак 3: {{ order[6] }}</li>
                    </div>
                {% endfor %}


            <footer class="footer-div">
                <div>
                    <p class="p-text">MAX Studio 2023</p>
                </div>
            </footer>
        </main>
    </body>
</html>